.label-danger {
  top: -5px;
  left: 300px;
  position: absolute;
  z-index: 3;
  font-size: 15px;
}
.label-success {
  top: -5px;
  left: 250px;
  position: absolute;
  z-index: 3;
  font-size: 15px;
}
.thumbnail {
  position: relative;
}
.thumbnail .size-small {
  margin-left: 60px;
}
.thumbnail .size-big {
  margin-left: 110px;
}
.thumbnail .weight-small {
  margin-left: 60px;
}
.thumbnail .weight-big {
  margin-left: 110px;
}
.thumbnail .price-small {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 55px;
}
.thumbnail .price-big {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 100px;
}
.thumbnail .buy-small {
  margin-left: 20px;
}
.thumbnail .buy-big {
  margin-left: 70px;
}
.thumbnail .info {
  display: inline-block;
  position: relative;
}
.filter-pizza {
  position: relative;
  text-align: center;
  margin-top: 40px;
}
.filter-pizza ul {
  position: relative;
  left: 200px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  margin-top: 15px;
}
.filter-pizza ul li {
  color: #fe9801;
}
.black-block {
  position: fixed;
  position: relative;
  left: 15px;
  width: 99%;
  background: #333333;
  border-top: 0;
  filter: alpha(opacity=60);
}
.black-block .logo-container {
  position: relative;
  left: 17px;
  background: #ed8240;
  height: 90px;
  width: 100px;
}
.black-block .logo-container h2 {
  color: #f0efef;
  margin: 0;
  text-align: center;
}
.black-block .discount-pic {
  position: relative;
  transform: rotate(180deg);
  top: 18px;
}
.black-block .text-info {
  color: lightgrey;
  position: absolute;
  left: 200px;
  top: 5px;
}
.black-block .text-info h3 {
  margin-top: 0;
}
.black-block .text-info h3 .hours {
  position: relative;
  font-size: 15px;
  left: 50px;
}
.black-block .text-info h3 .free {
  position: relative;
  font-size: 15px;
  left: 100px;
}
.black-block .text-info h3 hr {
  background: #DADADA;
}
.black-block .text-info h3 .enter {
  opacity: 100%;
  position: relative;
  background: #fe9801;
  left: 400px;
  color: white;
  border: 0;
  font-size: 15px;
  border-radius: 5px;
  margin: 2px 2px;
}
.types-pizza {
  top: 50px;
  position: relative;
  text-align: center;
}
.types-pizza .choose-type {
  color: #fe9801;
  font-size: 20px;
  top: 50px;
  position: relative;
  margin-right: 50px;
}
.order-container {
  background: white;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 100px;
  position: absolute;
  font-family: Helvetica;
  margin-left: 1520px;
  margin-top: 0px;
  display: block;
}
.order-container #cart {
  position: relative;
  background: #FCFCFC;
}
.order-container #cart .cart-pizza-img img {
  width: 100px;
  height: 100px;
  display: inline;
}
.order-container #cart .list-name {
  color: #fe9801;
  font-size: 20px;
}
.order-container #cart .order .gabarits img {
  margin-left: 20px;
}
.order-container #cart .order .plus {
  border-radius: 50%;
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}
.order-container #cart .order .minus {
  border-radius: 50%;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.order-container #cart .order .label {
  background: #E9E9E9;
  color: black;
  font-size: 15px;
}
.order-container #cart .order .remove {
  font-size: 11px;
  text-align: center;
  border: solid #CCCCCC;
  margin-left: 20px;
  background-color: transparent;
  border: 3px solid #ff0251;
  color: #ff0251;
  transition: 0.3s;
}
.order-container #cart h1 {
  text-align: center;
}
.order-container #cart hr {
  background: #fe9801;
}
.order-container .make-order {
  opacity: 0;
  font-size: 10px;
  display: block;
  position: relative;
  margin-top: 20px;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 4px solid #494949 !important;
  transition: all 0.4s ease 0s;
}
.order-container .make-order:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
.order-container .clear-order {
  font-size: 10px;
  display: block;
  position: relative;
  margin-top: 20px;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  transition: all 0.4s ease 0s;
}
.order-container .clear-order:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
.block-down {
  position: relative;
  left: 15px;
  width: 99%;
  height: 200px;
  filter: alpha(opacity=60);
}
.block-down .discount-bottom {
  position: fixed;
  height: 250px;
  width: 100px;
  top: 750px;
  margin-left: 20px;
}
.block-down .title-discount {
  position: fixed;
  font-size: 15px;
  top: 880px;
  margin-left: 25px;
  z-index: 1;
  color: white;
}
.block-down .content-discount {
  position: fixed;
  font-size: 15px;
  top: 920px;
  margin-left: 25px;
  z-index: 1;
  color: white;
}
.footer {
  position: relative;
  left: 50px;
}
.footer p {
  position: relative;
  left: 400px;
  top: 50px;
  color: #959595;
  font-size: 20px;
}
.total-price-buy {
  position: relative;
  left: 1530px;
  top: 465px;
}
.go-edit {
  position: relative;
  left: 800px;
  top: -20px;
}
.go-to-buy {
  position: relative;
  left: 1600px;
  top: 500px;
}
.info-time-address {
  display: block;
}
#cart.main-part {
  position: absolute;
  background: #CCCCCC;
  left: 1600px;
  overflow: scroll;
  height: 500px;
  padding-right: 50px;
  background: #FCFCFC;
}
#cart.main-part .greeting {
  font-size: 500px;
}
#cart.main-part .cart-pizza-img img {
  width: 100px;
  height: 100px;
  display: inline;
}
#cart.main-part .list-name {
  color: #fe9801;
  font-size: 20px;
}
#cart.main-part .order .gabarits img {
  margin-left: 20px;
}
#cart.main-part .order .plus {
  display: none;
  border-radius: 50%;
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}
#cart.main-part .order .minus {
  display: none;
  border-radius: 50%;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
#cart.main-part .order .label {
  display: none;
  background: #E9E9E9;
  color: black;
  font-size: 15px;
}
#cart.main-part .order .remove {
  display: none;
  font-size: 11px;
  text-align: center;
  border: solid #CCCCCC;
  margin-left: 20px;
  background-color: transparent;
  border: 3px solid #ff0251;
  color: #ff0251;
  transition: 0.3s;
}
#cart.main-part h1 {
  text-align: center;
}
#cart.main-part hr {
  background: #fe9801;
}
#map {
  position: relative;
  left: 200px;
  height: 1000px;
  width: 1000px;
}
.block-down {
  position: relative;
  left: 15px;
  width: 99%;
  height: 200px;
  filter: alpha(opacity=60);
}
.block-down .discount-bottom {
  position: fixed;
  height: 250px;
  width: 100px;
  top: 750px;
  margin-left: 20px;
}
.block-down .title-discount {
  position: fixed;
  font-size: 15px;
  top: 880px;
  margin-left: 25px;
  z-index: 1;
  color: white;
}
.block-down .content-discount {
  position: fixed;
  font-size: 15px;
  top: 920px;
  margin-left: 25px;
  z-index: 1;
  color: white;
}
.footer {
  top: 50px;
  position: relative;
  color: #f0efef;
  left: 50px;
}
.footer p {
  position: relative;
  left: 400px;
  bottom: 0px;
  font-size: 20px;
}
body {
  background: #fff1cf;
}
/*# sourceMappingURL=main.css.map */