.block-down{

  position: relative;
  left: 15px;
  width:99%;

  height: 200px;
  filter: alpha(opacity=60);
  .discount-bottom{
    position: fixed;
    height: 250px;
    width:100px;
    top:750px;
    margin-left: 20px;

  }
  .title-discount{
    position: fixed;
    font-size: 15px;
    top:880px;
    margin-left: 25px;
    z-index: 1;
    color: white;
  }
  .content-discount{
    position: fixed;
    font-size: 15px;
    top:920px;
    margin-left: 25px;
    z-index: 1;
    color: white;
  }

}
.footer{
  position: relative;

  left: 50px;
  p{
    position: relative;

    left: 400px;
    top: 50px;
    color: #959595;
    font-size: 20px;
  }
}
.total-price-buy{
  position: relative;
  left:1530px;
  top:465px;
}
.go-edit{
  position: relative;
  left:800px;
  top:-20px;
}
.go-to-buy{
  position: relative;
  left:1600px;
  top:500px;
}
.info-time-address{
  display: block;
}
#cart.main-part{

  position: absolute;
  background: #CCCCCC;
  left: 1600px;
  overflow: scroll;
  height: 500px;
  .greeting{
    font-size: 500px;
  }
  .cart-pizza-img{
    img{
      width:100px;
      height:100px;
      display: inline;
    }
  }
  padding-right: 50px;
  background: #FCFCFC;
  .list-name{
    color: #fe9801;
    font-size: 20px;
  }
  .order {
    .gabarits{

      img {
        margin-left: 20px;
      }
    }
    .plus {
      display: none;
      border-radius: 50%;
      font-size: 15px;
      margin-left: 5px;

      text-align: center;
    }
    .minus{
      display: none;
      border-radius: 50%;
      font-size: 15px;
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
    }
    .label{
      display: none;
      background: #E9E9E9;
      color: black;
      font-size: 15px;
    }
    .remove{
      display: none;
      font-size: 11px;
      text-align: center;
      border: solid #CCCCCC;
      margin-left: 20px;

      background-color: transparent;
      border: 3px solid #ff0251;
      color: #ff0251;
      transition: .3s;

    }
  }

  h1 {
    text-align: center;
  }
  hr{
    background: #fe9801;
  }
}

